/*!* Style inputs, select elements and textareas *!*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

form {
    width: 40%;
    /*border: solid 1px;*/
    margin-left: 4%;
    margin-bottom: 50px;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the button */
.sendApiBox {
    margin-left: 20%;
    background-color: #2C994D;
    color: white !important;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    /*margin-bottom: 50px!important;*/
}

/* Style the get field  */
.requestMethod {
    text-align: center;
    width: 50px;
    background-color: rgba(11, 49, 6, 0.73);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
}

/* Style the get field  */
.display-url {
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    background-color: rgba(33, 38, 41, 0.69);
}

.requestTitle {
    text-align: center;
    font-size: 27px !important;
    font-weight: bold !important;
}

.headingParameters {
    padding-top: 20px;
    font-size: 23px;
    font-weight: bold;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

p[id^='result'] {
    margin-top: 50px !important;
    margin-left: 50px;
    width: 45%;
}

p[id^='result'] {
    margin-top: 50px !important;
    margin-left: 50px;
    width: 45%;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    text-align: center;
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*JSON table formatting*/
[id^='result'] table {
    /*max-width:980px;*/
    table-layout: fixed;
    margin: auto;
}

[id^='result'] th, td {
    /*width: 100%;*/
    width: 30%;
    padding: 5px 1px;
    border: 1px solid #000;
}

[id^='result'] thead, tfoot {
    background: #f9f9f9;
    display: table;
    width: 100%;
    /*width:calc(100% / 3);*/
}

[id^='result'] tbody {
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
}

[id^='result'] tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.head-table {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    height: 50px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#udprn-json {
    width: 40%;
    float: none;
    clear: both;
    background-color: inherit;
    color: black !important;
    margin-left: 5%;
    margin-top: 50px !important;
}

.aurn-field :hover {
    font-size: 15px;
    cursor: pointer !important;
}

.aurn-field {
    text-decoration: none;
    color: #37362b;
}

#api-stats {
    font-size: 14px;
    margin-top: 20px !important;
    border-top: solid 1px white;
    color: white !important;
}

#api-stats p:first-of-type {
    padding-left: 20%;
}

#apiInfo {
    padding-left: 10%;
}

#udprn-json a {
    text-decoration: none;
}

#udprn-json .disclosure {
    /*color: #311110;*/
    font-size: 150%;
    color: #2C994D !important;

}

#udprn-json .syntax {
    color: grey;
}

#udprn-json .string {
    color: #212629;
}

#udprn-json .number {
    color: #62625e;
}

#udprn-json .boolean {
    color: #703753;
}

#udprn-json .key {
    color: #273126;
}

#udprn-json .keyword {
    color: #54494b;
}

#udprn-json .object.syntax {
    color: #671931;
}

#udprn-json .array.syntax {
    color: #4a605d;
}