<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>Waitrely APP</title>

    <style>

    /*<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/screen.css') }}">*/
    /*<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/print.css') }}">*/
    /*<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/custom-styles.css') }}">*/


    /*<script src="{{ url_for('static', filename='javascripts/all.js')}}"></script>*/
    /*<script src="{{ url_for('static', filename='javascripts/apiTest.js')}}"></script>*/
    /*<script src="{{ url_for('static', filename='javascripts/renderjson.js')}}"></script>*/

    </style>

</head>

<body>

<p>
{% if info %}
  Reply from image analysis: {{ info }}
{% endif %}
</p>

<p>
{% if timeStamp %}
  Time: {{ timeStamp }}
{% endif %}
</p>

<p>

    {% if location %}
    Location: {{ location }}
    {% endif %}


</p>



</body>
</html>
